nav.navigation 
    .navigation__wrapper 
        a.navigation__link(href="/") BREWBEER
        //- button.navigation__menu X

    ul.navigation__list 
        li.navigation__item 
            a.navigation__link(href="/") Home
        li.navigation__item 
            a.navigation__link(href="/beers") Beers
        li.navigation__item 
            a.navigation__link(href="/contact") Contact