extends ../base.pug 

block variables     
    - var template = 'home'

block content 
    .home
        .home__content
            .home__rect__blue
            .home__rect__white 
            .home__rect__green