extends ../base.pug 

block variables     
    - var template = 'home'

block content 
    .home
        .home__content
            .home__rect__blue
            .home__rect__white 
            .home__rect__green
            .home__rect__black
            p.home__craft='craft'
            p.home__beer='your beer'
            p.home__adventure='adventure'
            p.home__one='1'
            img.home__pink(src='/images/pink.png', alt="")
            